@font-face {
  font-family: "Merriweather Sans";
  src: url("./font/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Exo";
  src: url("./font/Exo/Exo-VariableFont_wght.ttf") format("truetype");
}
html {
  display: flex;
  justify-content: center;
}
body {
  gap: 30px;
  background-image: url("./image/fantasy-landscape-dk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Exo", sans-serif;
  justify-content: space-between;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.current {
  background-color: rgba(0.627, 0.627, 0.627, 0.2);
  margin-top: 70px;
  border-radius: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 400px;
}

input {
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  width: 200px;
}
.city {
  font-size: 1.5rem;
}
.currentTemp {
  font-size: 6rem;
}
.condition {
  font-size: 1.5rem;
  font-size: italic;
}
.other-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.forecast {
  width: 90vw;
  overflow-x: scroll;
  justify-items: flex-end;
  display: flex;
  height: 250px;
}
.day {
  opacity: 0.8;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  justify-content: space-evenly;
}
.day:hover {
  opacity: 1;
  background-color: rgba(0.627, 0.627, 0.627, 0.5);
}
img {
  width: 70px;
}
.fcDate {
  font-size: 1.5rem;
}
.fcTemp {
  align-items: center;
  display: flex;
  width: 180px;
  justify-content: space-between;
}
.fcMaxTemp {
  color: red;
  padding: 0;
  font-size: 1.5rem;
}
.fcMinTemp {
  font-size: 1.5rem;
  color: greenyellow;
}
.fcCondition {
  font-size: 1.2rem;
  font-style: italic;
}

.forecast::-webkit-scrollbar {
  width: 1px;
  height: 8px;
  opacity: 0.5;
}

.forecast::-webkit-scrollbar-track {
  background: none;
}

.forecast::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.forecast::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  body {
    width: 300px;
    justify-content: space-evenly;
  }
  .current {
    width: 400px;
    height: 320px;
  }
  .forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  }
  .day {
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
  }
  .fcCondition {
    font-size: 1.3rem;
  }
}
